/* MEDIA QUERIES */

@media (max-width: 1100px) {
  body {
    width: auto;
    min-width: 680px;
    margin: 5px;
  }
}

@media (max-width: 850px) {
  body {
    width: auto;
    min-width: 680px;
    margin: 0;
    border-radius: 0;
  }
}

@media (max-width: 430px) {
  html {
    font-size: 8pt;
  }

  body {
    width: auto;
    min-width: 330px;
    margin: 0;
    padding: 10px;
    border-radius: 0;
  }

  .header-and-footer {
    width: calc(100% - 20px);
    height: 50px;
    border-radius: 10px;
  }

  .foot {
    height: 20px;
  }

  footer div {
    bottom: 8px;
    right: 12px;
  }

  .container-top {
    display: flex;
    justify-content: flex-end;
    margin: 5px 0 5px;
  }

  .container-top > div {
    text-align: right;
    width: 70%;
  }

  .badge-pic {
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -65px;
    left: 9.4px;
  }

  h1 {
    font-size: 1.9rem;
    letter-spacing: 2.5px;
    margin-bottom: 10px;
  }

  .table-logo img {
    width: 30px;
    height: 30px;
  }

  .dot {
    top: 2px;
    left: -29.5px;
  }

  .line {
    height: calc(100% - 4px);
    left: -26px;
  }

  .languages img {
    width: 15px;
    height: 15px;
  }

  .language-name {
    width: 40px;
    margin-left: 10px;
  }

  .language-level {
    width: 40px;
  }
}
